html, body, iframe {
	border: 0px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}
iframe {
	height: 95% !important;
}
#scout_notifications {
	height: 32px;
	font-size: 14px;
	text-align: right;
	line-height: 32px; 
	vertical-align: middle;
	background-image: url("./bar.png");
	background-repeat: repeat-x;
	padding-right: 10px;
}
.zero0 {
-webkit-animation: none !important;
 -moz-animation: none !important;
 -o-animation: none !important;
 -ms-animation: none !important;
 animation: none !important;
 background-color: lightgreen !important;
}
.notifications_count {
	cursor: pointer;
	background-color: red;
	border-radius: 5px;
	width: 20px;
	height: 20px;
	text-align: center;
	display: block;
	color: white;
	font-weight: 700;
	text-decoration: none !important;
 	vertical-align: middle;

    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#notifications {
	padding: 10px;
}

@-moz-keyframes blinker {  
    0% { background-color: white; }
    50% { background-color: #F88; }
    100% { background-color: white; }
}

@-webkit-keyframes blinker {  
 	0% { background-color: white; }
    50% { background-color: #F88; }
    100% { background-color: white; }
}

@keyframes blinker {  
	0% { background-color: white; }
    50% { background-color: #F88; }
    100% { background-color: white; }
}
.notification_event {
	width: 100%;
	border-bottom: 1px solid grey;
}
.new_true {
	color: red;
	cursor: pointer;
}
.date {
	color: grey;
	font-size: 11px;
}
#home {
	height: 16px;
	cursor: pointer;
}
#tech {
	height: 16px;
	cursor: pointer;
}